<!--用户管理页面 -->
<table id="memberConsumption_table">
</table>
<div id="memberConsumption_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:40%">
                <input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:memberConsumption.tbSearchName,menu:'#memberConsumption_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="memberConsumption_table_toolbar_serchbox_mm" style="width:130px">
                    <div data-options="name:'commodity_id'">商品ID</div>
                    <div data-options="name:'commodity_name'">商品</div>
                    <div data-options="name:'is_cash'">是否现金（1或0）</div>
                    <div data-options="name:'member_id'">会员ID</div>
                    <div data-options="name:'member_name'">会员</div>
                    <div data-options="name:'write_user_id'">记录员工ID</div>
                    <div data-options="name:'write_user_name'">记录员工</div>
                    <div data-options="name:'service_user_id'">服务员工ID</div>
                    <div data-options="name:'service_user_name'">服务员工</div>
                    <div data-options="name:'is_close'">是否结算（1或0）</div>
                    <div data-options="name:'remark'">备注</div>
                </div>
            </td>
            <td>
                <div>
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="memberConsumption.import()">导入(<ins>W</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="memberConsumption.export()">导出(<ins>Q</ins>)</a>
                    <!--<a href="/excel/user" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="memberConsumption.add()">增加(<ins>A</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="memberConsumption.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="memberConsumption.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="memberConsumption.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    memberConsumption = {};
    memberConsumption.types = [];
    //表格字段设置*************************************************************************
    memberConsumption.setFields = function() {
        let fields = [];
        fields[0] = [];
        fields[0].push({
            field: 'ck',
            checkbox: true
        });
        fields[0].push({
            field: 'id',
            title: '消费记录ID',
            width: 80
        });
        fields[0].push({
            field: 'create_time',
            title: '消费时间',
            width: 80
        });
        fields[0].push({
            field: 'price',
            title: '消费金额',
            width: 100,
        });
        fields[0].push({
            field: 'count',
            title: '消费数量',
            width: 100,
        });
        fields[0].push({
            field: 'is_cash',
            title: '是否现金',
            width: 100,
            formatter: function(value, row, index) {
                return value === 1 ? '是' : '否';
            },
        });
        fields[0].push({
            field: 'commodity_id',
            title: '商品ID',
            width: 100,
        });
        fields[0].push({
            field: 'commodity_name',
            title: '商品名',
            width: 100,
        });
        fields[0].push({
            field: 'commodity_price',
            title: '商品售价',
            width: 100,
        });
        fields[0].push({
            field: 'member_id',
            title: '会员ID',
            width: 100,
        });
        fields[0].push({
            field: 'member_name',
            title: '会员名',
            width: 100,
        });
        fields[0].push({
            field: 'write_user_id',
            title: '记录员工ID',
            width: 100,
        });
        fields[0].push({
            field: 'write_user_name',
            title: '记录员工',
            width: 100,
        });
        fields[0].push({
            field: 'service_user_id',
            title: '服务员工ID',
            width: 100,
        });
        fields[0].push({
            field: 'service_user_name',
            title: '服务员工',
            width: 100,
        });
        fields[0].push({
            field: 'is_close',
            title: '是否已结算',
            width: 100,
            formatter: function(value, row, index) {
                return value === 1 ? '是' : '否';
            },
        });
        fields[0].push({
            field: 'remark',
            title: '备注',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });

        return fields;
    }



    //绑定菜单按钮的键盘设置*************************************************************************
    memberConsumption.keydown = function(e) {
        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            // case "w":
            //     memberConsumption.import();
            //     break;
            case "q":
                memberConsumption.export();
                break;
            case "s":
                memberConsumption.save();
                break;
                // case "a":
                //     memberConsumption.add();
                //     break;
            case "d":
                memberConsumption.delete();
                break;
            case "r":
                memberConsumption.redo();
                break;

        }
    };

    //button设置*************************************************************************
    memberConsumption.tbSearchName = function(value, name) {
        //$('#memberConsumption_table').datagrid('unselectAll');
        //s$('#memberConsumption_table').datagrid('uncheckAll');
        $('#memberConsumption_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    memberConsumption.save = function() {
        //console.log($('#memberConsumption_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#memberConsumption_table').datagrid('cell')) {
            $('#memberConsumption_table').datagrid('endEdit', $('#memberConsumption_table').datagrid('cell').index);
        };


        $('#memberConsumption_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#memberConsumption_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#memberConsumption_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#memberConsumption_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#memberConsumption_table').datagrid('loaded');
                $('#memberConsumption_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/memberConsumption/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#memberConsumption_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#memberConsumption_table').datagrid('reload');
                $('#memberConsumption_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#memberConsumption_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    // memberConsumption.add = function() {
    //     $('#memberConsumption_table').datagrid('appendRow', {
    //         id: 'N ' + Math.round(Math.random() * 1000),
    //         commodity_id: 1,
    //         commodity_name: '足底',
    //     });
    // };
    memberConsumption.delete = function() {

        let allChecked = $('#memberConsumption_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#memberConsumption_table').datagrid('deleteRow', $('#memberConsumption_table').datagrid('getRowIndex', id));
        });

    };
    memberConsumption.redo = function() {
        $('#memberConsumption_table').datagrid('rejectChanges');
    };
    memberConsumption.export = function() {
        window.location.href = "memberConsumption/exportExcel";
    };

    memberConsumption.init = function() {

        $('#memberConsumption_table').datagrid({
            idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            singleSelect: false,
            url: '/memberConsumption/multi',
            method: 'post',
            toolbar: '#memberConsumption_table_toolbar',
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: 1,
            pageSize: '30',
            pageList: [30, 50, 100],
            sortName: 'id',
            remoteSort: false,
            multiSort: true,
            columns: memberConsumption.setFields(),
            //根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'memberConsumption_type_id':
                        $(ed.target).combogrid('textbox').select();
                        $(ed.target).combogrid('showPanel');
                        break;
                    default:
                        $(ed.target).textbox('textbox').select();
                        break;
                }

            },
            // onBeginEdit: function(index, row) {
            //     console.log([1, 2, 6].indexOf(row.id));
            //     if ([1, 2, 6].indexOf(row.id) !== -1) {
            //         console.log(index);
            //         $('#memberConsumption_table').datagrid('endEdit', index);
            //     }
            // }
        }).datagrid('enableCellEditing');

        $('#memberConsumption_table').datagrid('getPanel').keydown(memberConsumption.keydown);
    }


    //表格初始化*************************************************************************
    memberConsumption.init();
    // $.post('memberConsumption/initData', {}, function(data) {
    //     if (!data.err) {
    //         memberConsumption.types = data.result;
    //         memberConsumption.init();
    //     } else {
    //         $.messager.alert('失败', data.message, 'warning', function() {
    //             $('#memberConsumption_table').datagrid('getPanel').focus(); //重置焦点
    //         });
    //     }
    // })
</script>