<html>

<head>
    <meta charset="UTF-8">
    <title>东北林业大学毕业生就业管理系统</title>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css">
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="./easyui/datagrid-detailview.js"></script>
    <script type="text/javascript" src="./easyui/locale/easyui-lang-zh_CN.js"></script>


    <link rel="stylesheet" type="text/css" href="./dropify/css/dropify.min.css">
    <script type="text/javascript" src="./dropify/js/dropify.min.js"></script>



    <!--<script type="text/javascript" src="./javascripts/bluebird.min.js"></script>-->
    <!--<script type="text/javascript" src="./jscode/webF.js"></script>-->
    <!--<script type="text/javascript" src="./jscode/local.js"></script>-->


</head>

<body>
    <!--<form id="ff" action="/uploadPic" method="post" content-type=application/json>-->
    <form id="ff" action="/uploadPic" method="post" enctype="multipart/form-data">
        <!--<input type="file" class="dropify" name="upload" multiple="multiple">-->
        <!--<label for="upPic" style="width: 400px">正面</label>-->
        <input type="file" class="dropify" name="upload" data-height="300" data-default-file="/memberCase/upPic.jpg" />

        <!--<form id="ff">-->
        <!--<table>
            <tr>
                <td>
                    <label for="upPic" style="width: 400px">正面</label>
                    <input type="file" id="upPic" class="dropify" data-height="300" data-default-file="/memberCase/upPic.jpg" />

                </td>
                <td>
                    <label for="downPic">背面</label>
                    <input type="file" id="downPic" class="dropify" data-height="300" data-default-file="/memberCase/downPic.jpg" />

                </td>
            </tr>
            <tr>
                <td>
                    <label for="leftPic">左侧面</label>
                    <input type="file" id="leftPic" class="dropify" data-height="300" data-default-file="/memberCase/leftPic.jpg" />
                </td>
                <td>
                    <label for="rightPic">右侧面</label>
                    <input type="file" id="rightPic" class="dropify" data-height="300" data-default-file="/memberCase/rightPic.jpg" />

                </td>
            </tr>

        </table>-->
        <div>

            <input type="submit" value="Upload">
            <!--<a href="javascript:void(0)" class="easyui-linkbutton" onclick="uploadPic.submit()" style="width:80px;float:right;margin-right:40px ">保存</a>-->
        </div>
    </form>

    <script>
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();

        });

        uploadPic = {};
        uploadPic.submit = function() {
            $('#ff').submit(function(e) {
                //e.preventDefault();
                //先创建一个空的 FormData 对象,然后使用 append() 方法向该对象里添加字段
                var fd = new FormData();
                // fd.append('sitename', '优码网');
                // fd.append('url', 'http://www.hoohtml.com');
                fd.append('file', document.getElementById('upPic'));
                //fd.append('file', document.getElementById('leftPic'));
                //fd.append('file', $(':file')[0].files[0]); //jQuery 方式

                //使用jQuery 发送请求
                $.ajax({
                    url: '/uploadPic',
                    type: 'POST',
                    data: fd,
                    //contentType: false, //必须false才会自动加上正确的Content-Type
                    processData: false //必须false才会避开jQuery对 formdata 的默认处理
                }).done(function(result) {
                    console.log(result);
                }).fail(function(err) {
                    console.log(err);
                });


            });
        };
    </script>
</body>

</html>