<!--用户管理页面 -->
<table id="user_table">
</table>
<div id="user_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:40%">
                <input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:user.tbSearchName,menu:'#user_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="user_table_toolbar_serchbox_mm" style="width:120px">
                    <div data-options="name:'name'">员工姓名</div>
                    <div data-options="name:'user_role_name'">员工类型</div>
                    <div data-options="name:'phone'">手机</div>
                    <div data-options="name:'other_contacts'">其他联系方式</div>
                    <div data-options="name:'remark'">备注</div>

                </div>
            </td>
            <td>
                <div>
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="user.import()">导入(<ins>W</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="user.export()">导出(<ins>Q</ins>)</a>
                    <!--<a href="/excel/user" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="user.add()">增加(<ins>A</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="user.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="user.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="user.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    user = {};
    user.roles = []; //需初始化数据    
    //表格字段设置*************************************************************************
    user.setFields = function() {
        let fields = [];
        fields[0] = [];
        fields[0].push({
            field: 'ck',
            checkbox: true
        });
        fields[0].push({
            field: 'wageClose',
            title: '记录',
            width: 90,
            formatter: function(value, row, index) {
                return '<button onclick="user.wage(\'' + row.id + '\')">工资结算</button>';
            },
        });
        fields[0].push({
            field: 'id',
            title: '员工ID',
            width: 50,
            sortable: true
        });
        fields[0].push({
            field: 'name',
            title: '员工姓名',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'pass',
            title: '密码',
            width: 100,
            sortable: false,
            formatter: function(value, row, index) {
                return '******';
            },
            editor: {
                type: 'passwordbox',
                options: {
                    prompt: '重置密码',
                    validType: 'length[6,30]',
                    invalidMessage: '请输入至少6位密码',
                    showEye: true
                }
            }
        });

        fields[0].push({
            field: 'phone',
            title: '手机',
            width: 100,
            sortable: true,
            editor: {
                type: 'validatebox',
                options: {
                    required: true,
                    validType: 'length[11,11]',
                    invalidMessage: '请输入11位手机号'
                }
            }
        });
        fields[0].push({
            field: 'other_contacts',
            title: '其他联系方式',
            width: 200,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'remark',
            title: '备注',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'user_role_id',
            title: '员工类型',
            width: 120,
            limitToList: true,
            sortable: true,
            formatter: function(value, row, index) {
                return user.roles.find(function(element) {
                    return element.id == value;
                }).name;
                //console.log(value);
                //return row.user_role_name;
            },
            editor: {
                type: 'combobox',
                options: {
                    panelWidth: 160,
                    editable: false,
                    valueField: 'id',
                    textField: 'name',
                    data: user.roles,
                    //url: 'user/roles',
                    // onLoadSuccess: function() {
                    //     user.roles = $(this).combobox('getData');
                    // },
                }
            }
        });
        fields[0].push({
            field: 'base_wage',
            title: '底薪',
            sortable: true,
            width: 80,
            formatter: function(value, row, index) {
                return '￥' + Number.parseFloat(value).toFixed(2);
            },

        });
        fields[0].push({
            field: 'last_login_time',
            title: '最后登录时间',
            width: 160,
            sortable: true,
            formatter: function(value, row, index) {
                if (!Number.isNaN(Date.parse(value))) {
                    return new Date(Date.parse(value)).toLocaleString();
                } else {
                    return '';
                }
            },

        });
        return fields;
    }


    //绑定菜单按钮的键盘设置*************************************************************************
    user.keydown = function(e) {
        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            case "w":
                user.import();
                break;
            case "q":
                user.export();
                break;
            case "s":
                user.save();
                break;
            case "a":
                user.add();
                break;
            case "d":
                user.delete();
                break;
            case "r":
                user.redo();
                break;

        }
    };


    //button设置*************************************************************************
    user.tbSearchName = function(value, name) {
        //$('#user_table').datagrid('unselectAll');
        //s$('#user_table').datagrid('uncheckAll');
        $('#user_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    user.save = function() {
        //console.log($('#user_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#user_table').datagrid('cell')) {
            $('#user_table').datagrid('endEdit', $('#user_table').datagrid('cell').index);
        };


        $('#user_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#user_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#user_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#user_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#user_table').datagrid('loaded');
                $('#user_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/user/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#user_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#user_table').datagrid('reload');
                $('#user_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#user_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    user.add = function() {
        $('#user_table').datagrid('appendRow', {
            id: 'N ' + Math.round(Math.random() * 1000),
            name: '新员工 ' + Math.round(Math.random() * 1000),
            user_role_id: 1,

        });
    };
    user.delete = function() {

        let allChecked = $('#user_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#user_table').datagrid('deleteRow', $('#user_table').datagrid('getRowIndex', id));
        });

    };
    user.redo = function() {
        $('#user_table').datagrid('rejectChanges');
    };
    user.export = function() {
        window.location.href = "user/exportExcel";
    };
    user.import = function() {

        //let mainImport = $('#mainImport');
        //console.log(mainImport);
        //mainImport.panel('destroy');
        $('#mainImport').window({
            title: '用户导入',
            width: 800,
            height: 600,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            modal: true,
            href: 'user/importExcel',
            onClose: function() {
                $('#user_table').datagrid('reload');
                //console.log('window close!');
            }
        });

    };
    user.init = function() {

        $('#user_table').datagrid({
            idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            url: '/user/multi',
            method: 'post',
            toolbar: '#user_table_toolbar',
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: 1,
            pageSize: '30',
            pageList: [30, 50, 100],

            remoteSort: false,
            multiSort: true,
            columns: user.setFields(),
            //根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'phone':
                        break;
                    case 'user_role_id':
                        $(ed.target).combogrid('textbox').select();
                        $(ed.target).combogrid('showPanel');
                        break;
                    default:
                        $(ed.target).textbox('textbox').select();
                        break;
                }

            },
            // onBeginEdit: function(index, row) {
            //     console.log([1, 2, 6].indexOf(row.id));
            //     if ([1, 2, 6].indexOf(row.id) !== -1) {
            //         console.log(index);
            //         $('#user_table').datagrid('endEdit', index);
            //     }
            // }
        }).datagrid('enableCellEditing');

        $('#user_table').datagrid('getPanel').keydown(user.keydown);
    };

    user.wage = function(userID) {
        if (userID === undefined) {
            $.messager.alert('提示', '无当前用户', 'info', function() {
                $('#user_table').datagrid('getPanel').focus(); //重置焦点
            });
        } else {
            $('#mainImport').empty();
            $('#mainImport').window({
                title: '工资结算',
                width: 800,
                height: 600,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                modal: true,
                href: 'user/wage/' + userID,
                // onClose: function() {
                //     $('#member_table').datagrid('reload');
                //     //console.log('window close!');
                // }
            });
            //console.log(memberID.toString());
        };
    };


    //表格初始化*************************************************************************
    $(document).ready(function() {
        $.post('user/initData', {}, function(data) {
            if (!data.err) {
                user.roles = data.result;
                user.init();
            } else {
                $.messager.alert('失败', data.message, 'warning', function() {
                    $('#user_table').datagrid('getPanel').focus(); //重置焦点
                });
            }
        });
    });
</script>