<!--用户管理页面 -->
<table id="member_table">
</table>
<div id="member_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:40%">
                <input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:member.tbSearchName,menu:'#member_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="member_table_toolbar_serchbox_mm" style="width:120px">
                    <div data-options="name:'card_id'">会员卡号</div>
                    <div data-options="name:'name'">会员姓名</div>
                    <div data-options="name:'member_role_name'">会员类型</div>
                    <div data-options="name:'phone'">手机</div>
                    <div data-options="name:'other_contacts'">其他联系方式</div>
                    <div data-options="name:'remark'">备注</div>

                </div>
            </td>
            <td>
                <div>
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="member.import()">导入(<ins>W</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="member.export()">导出(<ins>Q</ins>)</a>
                    <!--<a href="/excel/member" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="member.add()">增加(<ins>A</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="member.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="member.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="member.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    member = {};
    member.roles = []; //需初始化数据    

    //表格字段设置*************************************************************************
    member.setFields = function() {
        let fields = [];
        fields[0] = [];
        fields[0].push({
            field: 'ck',
            checkbox: true
        });
        fields[0].push({
            field: 'id',
            title: '会员ID',
            sortable: true,
            width: 60,
        });
        fields[0].push({
            field: 'listCase',
            title: '操作',
            width: 90,
            formatter: function(value, row, index) {
                member.currentMember = row;
                return '<button onclick="member.listCase(\'' + row.id + '\')">健康记录</button>';
                //return '<a href="#" onclick="member.add()">添加病例</a>';
                //return '<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="user.add()">添加病例</a>';
            },
        });
        fields[0].push({
            field: 'card_id',
            title: '会员卡号',
            sortable: true,
            width: 60,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'name',
            title: '会员姓名',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'pass',
            title: '密码',
            width: 100,
            sortable: false,
            formatter: function(value, row, index) {
                return '******';
            },
            editor: {
                type: 'passwordbox',
                options: {
                    prompt: '重置密码',
                    validType: 'length[6,30]',
                    invalidMessage: '请输入至少6位密码',
                    showEye: true
                }
            }
        });
        fields[0].push({
            field: 'cleanPass',
            title: '删除密码',
            width: 90,
            formatter: function(value, row, index) {
                return '<button onclick="member.cleanPass(\'' + row.id + '\')">清空密码</button>';
            },
        });
        fields[0].push({
            field: 'balance',
            title: '余额',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return '￥' + Number.parseFloat(value).toFixed(2);
            },

        });
        fields[0].push({
            field: 'create_time',
            title: '入会时间',
            width: 160,
            sortable: true,
            formatter: function(value, row, index) {
                if (!Number.isNaN(Date.parse(value))) {
                    return new Date(Date.parse(value)).toLocaleString();
                } else {
                    return '';
                }
            },
        });

        fields[0].push({
            field: 'phone',
            title: '手机',
            width: 100,
            sortable: true,
            editor: {
                type: 'validatebox',
                options: {
                    required: true,
                    validType: 'length[11,11]',
                    invalidMessage: '请输入11位手机号'
                }
            }
        });
        fields[0].push({
            field: 'other_contacts',
            title: '其他联系方式',
            width: 200,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'remark',
            title: '备注',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'member_role_id',
            title: '会员类型',
            width: 180,
            sortable: true,
            limitToList: true,
            formatter: function(value, row, index) {
                return member.roles.find(function(element) {
                    return element.id == value;
                }).name;
                //console.log(value);
                //return row.member_role_name;
            },
            editor: {
                type: 'combobox',
                options: {
                    panelWidth: 160,
                    editable: false,
                    valueField: 'id',
                    textField: 'name',
                    data: member.roles,
                    //url: 'member/roles',
                    // onLoadSuccess: function() {
                    //     member.roles = $(this).combobox('getData');
                    // },
                }
            }
        });

        return fields;
    }


    //绑定菜单按钮的键盘设置*************************************************************************
    member.keydown = function(e) {
        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            case "w":
                member.import();
                break;
            case "q":
                member.export();
                break;
            case "s":
                member.save();
                break;
            case "a":
                member.add();
                break;
            case "d":
                member.delete();
                break;
            case "r":
                member.redo();
                break;

        }
    };


    //button设置*************************************************************************
    member.listCase = function(memberID) {
        if (memberID === undefined) {
            $.messager.alert('提示', '无当前用户', 'info', function() {
                $('#member_table').datagrid('getPanel').focus(); //重置焦点
            });
        } else {
            $('#mainImport').window({
                title: '健康记录',
                width: 800,
                height: 600,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                modal: true,
                href: 'member/case/' + memberID,
                // onClose: function() {
                //     $('#member_table').datagrid('reload');
                //     //console.log('window close!');
                // }
            });
            //console.log(memberID.toString());
        }
    }
    member.listConsumption = function(memberID) {
        $('#mainImport').window({
            title: '消费记录',
            width: 800,
            height: 600,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            modal: true,
            href: 'member/importExcel',
            onClose: function() {
                $('#member_table').datagrid('reload');
                //console.log('window close!');
            }
        });
        //console.log(memberID.toString());

    }
    member.tbSearchName = function(value, name) {
        //$('#member_table').datagrid('unselectAll');
        //s$('#member_table').datagrid('uncheckAll');
        $('#member_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    member.save = function() {
        //console.log($('#member_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#member_table').datagrid('cell')) {
            $('#member_table').datagrid('endEdit', $('#member_table').datagrid('cell').index);
        };


        $('#member_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#member_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#member_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#member_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#member_table').datagrid('loaded');
                $('#member_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/member/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#member_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#member_table').datagrid('reload');
                $('#member_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#member_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    member.add = function() {
        $('#member_table').datagrid('appendRow', {
            id: 'N ' + Math.round(Math.random() * 1000),
            name: '新会员 ' + Math.round(Math.random() * 1000),
            balance: 0,
            member_role_id: 1,
        });
    };
    member.delete = function() {
        let allChecked = $('#member_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#member_table').datagrid('deleteRow', $('#member_table').datagrid('getRowIndex', id));
        });

    };
    member.redo = function() {
        $('#member_table').datagrid('rejectChanges');
    };
    member.export = function() {
        window.location.href = "member/exportExcel";
    };
    member.import = function() {

        //let mainImport = $('#mainImport');
        //console.log(mainImport);
        //mainImport.panel('destroy');
        $('#mainImport').window({
            title: '用户导入',
            width: 800,
            height: 600,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            modal: true,
            href: 'member/importExcel',
            onClose: function() {
                $('#member_table').datagrid('reload');
                //console.log('window close!');
            }
        });

    };
    member.init = function() {

        $('#member_table').datagrid({
            idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            url: '/member/multi',
            method: 'post',
            toolbar: '#member_table_toolbar',
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: 1,
            pageSize: '30',
            pageList: [30, 50, 100],

            remoteSort: false,
            multiSort: true,
            columns: member.setFields(),
            //根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'phone':
                        break;
                    case 'member_role_id':
                        $(ed.target).combogrid('textbox').select();
                        $(ed.target).combogrid('showPanel');
                        break;
                    default:
                        $(ed.target).textbox('textbox').select();
                        break;
                }

            },

            //显示病例列表
            // view: detailview,
            // detailFormatter: function(index, row) {
            //     return '<div style="padding:2px" ><table class="ddv"></table></div>';
            // },
            // onExpandRow: function(index, row) {
            //     var ddv = $(this).datagrid('getRowDetail', index).find('table.ddv');
            //     ddv.datagrid({
            //         // url: '/member/multi', //'datagrid22_getdetail.php?itemid=' + row.itemid,
            //         url: '/privilege/multi', //'datagrid22_getdetail.php?itemid=' + row.itemid,
            //         fitColumns: true,
            //         singleSelect: true,
            //         rownumbers: true,
            //         loadMsg: '',
            //         height: 'auto',
            //         toolbar: [{
            //             iconCls: 'icon-add',
            //             text: '添加病例',
            //             handler: function() {
            //                 alert('编辑按钮')
            //             }
            //         }],
            //         columns: [
            //             [{
            //                 field: 'nothing',
            //                 title: '操作',
            //                 width: 80,
            //                 formatter: function(value, row, index) {
            //                     return '<button onclick="member.addCase(\'' + row.name + '\')">编辑</button> <button onclick="member.addCase(\'' + row.phone + '\')">打印</button> <button onclick="member.addCase(\'' + row.phone + '\')">删除</button>';
            //                     //return '<a href="#" onclick="member.add()">添加病例</a>';
            //                     //return '<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="user.add()">添加病例</a>';
            //                 },

            //             }, {
            //                 field: 'id',
            //                 title: '会员ID',
            //                 width: 50,
            //             }, {
            //                 field: 'name',
            //                 title: '会员名',
            //                 width: 50,
            //                 align: 'right'
            //             }, {
            //                 field: 'phone',
            //                 title: '电话',
            //                 width: 50,
            //                 align: 'right'
            //             }]
            //         ],
            //         onResize: function() {
            //             $('#member_table').datagrid('fixDetailRowHeight', index);
            //         },
            //         onLoadSuccess: function() {
            //             setTimeout(function() {
            //                 $('#member_table').datagrid('fixDetailRowHeight', index);
            //             }, 0);
            //         }
            //     });
            //     $('#member_table').datagrid('fixDetailRowHeight', index);
            // }

        }).datagrid('enableCellEditing');

        $('#member_table').datagrid('getPanel').keydown(member.keydown);
    }
    member.cleanPass = function(memberID) {
        let memberName = $('#member_table').datagrid('getData').rows.find(function(item) {
            return item.id == memberID;
        }).name;

        $('#member_table').datagrid('loading');
        $.messager.confirm('确认信息', '<b>' + memberName + '</b>的密码将被清空？', function(r) {
            if (r) {
                $.post('/member/cleanPass', {
                    id: memberID
                }).done(function(data) {
                    $.messager.alert('信息', data.message, 'info', function() {
                        $('#member_table').datagrid('loaded');
                    });

                });
            } else {
                $('#member_table').datagrid('loaded');
            }
        });


    };

    //表格初始化*************************************************************************
    $(document).ready(function() {
        // Basic
        $.post('member/initData', {}, function(data) {
            if (!data.err) {
                member.roles = data.result.map(function(item) {
                    let backObject = {};
                    backObject.id = item.id;
                    //backObject.name = item.name + '(' + Number.parseInt(item.discount * 100) + '%--' + item.remark + ')';
                    backObject.name = item.name;
                    return backObject;
                });
                member.init();
            } else {
                $.messager.alert('失败', data.message, 'warning', function() {
                    $('#member_table').datagrid('getPanel').focus(); //重置焦点
                });
            }
        });

    });
</script>