<div id="cc" class="easyui-layout" data-options="fit:true,">
    <div data-options="region:'north',collapsible:false" style="padding:5px;height:40px;">
        <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.addMemberShow()">新增会员</a>&nbsp;&nbsp;&nbsp;
        <input id="mixSearchbox" class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:mix.tbSearchName,menu:'#member_table_toolbar_serchbox_mm'" style="width:60%">

        <input type="checkbox" id='mixSearchboxValueIsStrict' name="mixSearchboxValueIsStrict"><label for="mixSearchboxValueIsStrict">严格查找</label>

        <div id="member_table_toolbar_serchbox_mm" style="width:150px">
            <div data-options="name:'card_id'">会员卡号</div>
            <div data-options="name:'name'">会员姓名</div>
            <div data-options="name:'phone'">会员手机</div>
            <div data-options="name:'other_contacts'">会员其他联系方式</div>
            <div data-options="name:'remark'">会员备注</div>
        </div>


    </div>
    <!--<div data-options="region:'south',title:'South Title',split:true" style="height:100px;"></div>-->
    <!--<div data-options="region:'west',title:'病例列表',collapsible:false"> </div>-->
    <!--<div data-options="region:'east',title:'详细信息',collapsible:false" style="width:300px"> </div>-->
    <div data-options="region:'center',title:'记账'" style="padding:5px;background:#eee;">
        <div id='p' class="easyui-panel" data-options="fit:true,border:false,closed:true">

            <div id="mix_table_toolbar">
                <table style="width:100%">
                    <tr>
                        <td style="width:70%">
                            <table id='member_info'>
                                <tr>
                                    <td style="width:15%"> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td colspan="2"> </td>
                                    <td colspan="2"> </td>

                                </tr>
                            </table>
                        </td>

                        <td>
                            <div>

                            </div>
                            <div>
                                <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.rechargeShow()">充值</a>
                                <a href="member/listCase" target="_blank" class="easyui-linkbutton">打印</a> &nbsp;&nbsp;&nbsp;
                                <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.add()">添加</a>
                                <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.delete()">删除</a>
                                <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.save()">结算</a>
                                <a href="#" class="easyui-linkbutton" iconCls="" plain="false" onclick="mix.close()">关闭</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <table id="mix_table">
            </table>



        </div>
    </div>
</div>

<div id="mixPassDlg" class="easyui-dialog" title="密码验证" data-options=" iconCls: 'icon-search', closed:true, modal: true, buttons: [{ text: '确定',handler:mix.check }] " style="width:400px;height:150px;padding:10px ">
    <input id="mixPass" class="easyui-passwordbox" prompt="密码" iconWidth="28 " style="width:100%;height:34px;padding:10px ">
</div>

<div id="mixrechargeDlg" class="easyui-dialog" title="充值" data-options=" iconCls: 'icon-search', closed:true, modal: true, buttons: [{ text: '确定', handler:mix.recharge }] " style="width:400px;height:150px;padding:10px ">
    <input id="mixrecharge" class="easyui-numberbox" data-options="min:0,precision:2" prompt="金额" iconWidth="28 " style="width:100%;height:34px;padding:10px ">
</div>

<div id="mixaddMemberDlg" class="easyui-dialog" title="新增会员" data-options=" iconCls: 'icon-search', closed:true, modal: true, buttons: [{ text: '确定', handler:mix.addMember }] " style="width:400px;height:580px;padding:10px ">
    <input id="newMember_card_id" class="easyui-numberbox" data-options="label: '会员卡号:<b>（必须）</b>',labelPosition: 'top',required:true,validType:['length[1,30]']" prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">
    </br>
    </br>
    <input id="newMember_name" class="easyui-textbox" data-options="label: '用户姓名:<b>（必须）</b>',labelPosition: 'top',required:true,validType:['length[3,30]']" prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">
    </br>
    </br>
    <input id="newMember_pass" class="easyui-passwordbox" data-options="label: '密码:',labelPosition: 'top'," prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">
    </br>
    </br>
    <input id="newMember_role_id" class="easyui-combobox" name="newMember_type" data-options="label: '用户类型:<b>（必须）</b>',labelPosition: 'top',valueField:'id',textField:'name',editable:false,required:true,url:'/mix/listMemberRole'" style="width:100%;height:50px;padding:10px "
    />
    </br>
    </br>
    <input id="newMember_phone" class="easyui-numberbox" data-options="label: '手机:<b>（必须）</b>',labelPosition: 'top',required:true,validType:['length[11,11]'],missingMessage:'请输入11位手机号',invalidMessage:'手机号位数不对'" prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">
    </br>
    </br>
    <input id="newMember_other_contacts" class="easyui-textbox" data-options="label: '其他联系方式:',labelPosition: 'top'," prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">
    </br>
    </br>
    <input id="newMember_remark" class="easyui-textbox" data-options="label: '备注:',labelPosition: 'top'," prompt="" iconWidth="28 " style="width:100%;height:50px;padding:10px ">

</div>


<script>
    mix = {};
    mix.commodity = [];
    mix.user = [];
    mix.member = {};
    mix.hasInitTable = false;

    mix.tbSearchName = function(value, name) {

        $.post("mix ", {
                name: name,
                value: value,
                isStrict: $('#mixSearchboxValueIsStrict').prop("checked")
            },
            function(data) {
                if (data.err) {
                    $.messager.alert('错误', data.message, 'error');
                    $('#mixSearchbox').searchbox('clear');
                } else {
                    $('#mixPassDlg').dialog('open');
                    $('#mixrecharge').textbox('textbox').focus();
                }

            },
            "json ");
    };
    mix.rechargeShow = function() {
        $('#mixrechargeDlg').dialog('open');
        $('#mixrecharge').textbox('clear');
        $('#mixrecharge').textbox('textbox').focus();

    };
    mix.addMemberShow = function() {

        $('#mixaddMemberDlg').dialog('open');
        $('#newMember_card_id').textbox('clear');
        $('#newMember_card_id').textbox('textbox').focus();

        $('#newMember_name').textbox('clear');
        $('#newMember_pass').textbox('clear');
        $('#newMember_role_id').textbox('clear');
        $('#newMember_phone').textbox('clear');
        $('#newMember_other_contacts').textbox('clear');
        $('#newMember_remark').textbox('clear');
    }
    mix.addMember = function() {
        let newMember = {
            card_id: $('#newMember_card_id').textbox('getValue'),
            name: $('#newMember_name').textbox('getValue'),
            pass: $('#newMember_pass').textbox('getValue'),
            member_role_id: $('#newMember_role_id').textbox('getValue'),
            phone: $('#newMember_phone').textbox('getValue'),
            other_contacts: $('#newMember_other_contacts').textbox('getValue'),
            remark: $('#newMember_remark').textbox('getValue'),
        };
        $.post('/mix/addNewMember', newMember, function(data) {
            if (data.err) {
                $.messager.alert('错误', data.message, 'error');
            } else {
                $.messager.alert('信息', data.message, 'info', function() {
                    $('#mixaddMemberDlg').dialog('close');
                    $('#mixSearchbox').searchbox('setValue', newMember.card_id);
                });
            }
        });

    }

    mix.recharge = function() {
        value = $('#mixrecharge').textbox('getValue');
        console.log('value:' + value);
        if (value * 100 <= 0) {
            $.messager.alert('错误', '充值金额必须大于0', 'error');
        } else {
            $.post("mix/recharge", {
                value: value,
            }, function(data) {
                if (data.err) {
                    $.messager.alert('错误', data.message, 'error');
                } else {
                    $($("#member_info > tbody > tr >td")[4]).empty().append('余额:<b>￥' + data.balance + '</b>');
                    $.messager.alert('信息', data.message, 'info', function() {
                        $('#mixrecharge').textbox('clear');
                        $('#mixrechargeDlg').dialog('close');
                    });
                }
            });
        }
    }

    mix.check = function() {
        pass = $('#mixPass').textbox('getValue');
        $.post("mix/check ", {
                pass: pass,
            },
            function(data) {
                if (data.err) {
                    $.messager.alert('错误', data.message, 'error');
                    $('#mixPass').textbox('clear');
                    $('#mixPass').textbox('textbox').focus();
                } else {
                    mix.commodity = data.commodity;
                    mix.user = data.user;
                    mix.member = {};
                    data.member.forEach(function(item) {
                        mix.member[item[0]] = item[1];
                    })
                    $('#mixPass').textbox('clear');
                    $('#mixPassDlg').dialog('close');
                    $('#p').panel('open');
                    $("#member_info > tbody > tr >td").each(function() {
                        data.member[0][1] = data.member[0][1] ? data.member[0][1] : '';
                        $(this).empty().append(data.member[0][0] + ':<b>' + data.member[0][1] + '</b>');
                        data.member.shift();
                    });

                    //初始化消费列表
                    if (mix.hasInitTable) {
                        $('#mix_table').datagrid('rejectChanges');
                    } else {
                        mix.initMixTable();
                    }


                }
            }, 'json');
    };

    mix.initMixTable = function() {

        $('#mix_table').datagrid({

            //idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            fitColumns: true,
            //singleSelect: false,
            //url: '/member/multi',
            method: 'post',
            toolbar: '#mix_table_toolbar',
            striped: true,
            //pagination: true,
            rownumbers: true,
            remoteSort: false,
            multiSort: true,
            showFooter: true,
            columns: [
                [{
                    field: 'ck',
                    checkbox: true,
                }, {
                    field: 'service_user_id',
                    title: '技师',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        return mix.user.find(function(element) {
                            return element.id == value;
                        }).name;
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            panelWidth: 160,
                            editable: false,
                            valueField: 'id',
                            textField: 'name',
                            data: mix.user,
                        }
                    },

                }, {
                    field: 'commodity_id',
                    title: '商品',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        return mix.commodity.find(function(element) {
                            return element.id == value;
                        }).name;
                    },
                    editor: {
                        type: 'combogrid',
                        options: {
                            panelWidth: 300,
                            idField: 'id',
                            textField: 'name',
                            // url: 'datagrid_data.json',
                            data: mix.commodity,
                            columns: [
                                [{
                                    field: 'id',
                                    title: '商品ID',
                                    width: 60
                                }, {
                                    field: 'name',
                                    title: '商品',
                                    width: 100
                                }, {
                                    field: 'price',
                                    title: '售价',
                                    width: 120,
                                    formatter: function(value, row, index) {
                                        return '￥' + Number.parseFloat(value).toFixed(2);
                                    },
                                }]
                            ]
                        }
                    },
                }, {
                    field: 'commodity_price',
                    title: '商品售价',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        let price = mix.commodity.find(function(element) {
                            return element.id == row.commodity_id;
                        }).price;
                        return '￥' + Number.parseFloat(price).toFixed(2);
                    },
                }, {
                    field: 'count',
                    title: '商品数量',
                    sortable: false,
                    width: 60,
                    editor: {
                        type: 'numberspinner',
                        options: {
                            min: 1,
                            max: 1000,
                            editable: true,
                        }
                    },
                }, {
                    field: 'is_discount',
                    title: '是否打折',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        return value === '1' ? '是' : '否';
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            panelWidth: 160,
                            editable: false,
                            valueField: 'id',
                            textField: 'name',
                            data: [{
                                id: 1,
                                name: '是'
                            }, {
                                id: 0,
                                name: '否'
                            }],
                        }
                    },
                }, {
                    field: 'price',
                    title: '实收价格',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        let price = mix.commodity.find(function(element) {
                            return element.id == row.commodity_id;
                        }).price;
                        price = price * row.count * 1;
                        if (row.is_discount == 1) {
                            price = price * mix.member['折扣率'].slice(0, -1) * 0.01;
                        }
                        row.price = price;
                        return '￥' + Number.parseFloat(price).toFixed(2);
                    },
                }, {
                    field: 'is_cash',
                    title: '是否现金',
                    sortable: false,
                    width: 60,
                    formatter: function(value, row, index) {
                        return value === '1' ? '是' : '否';
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            panelWidth: 160,
                            editable: false,
                            valueField: 'id',
                            textField: 'name',
                            data: [{
                                id: 1,
                                name: '是'
                            }, {
                                id: 0,
                                name: '否'
                            }],
                        }
                    },
                }, {
                    field: 'remark',
                    title: '备注',
                    sortable: false,
                    width: 60,
                    editor: {
                        type: 'textbox',
                        options: {}
                    }
                }]
            ],
            data: [{
                service_user_id: 2,
                commodity_id: 1,
                price: 0,
                count: 1,
                is_cash: '0',
                is_discount: '1',
                remark: ''
            }],
            // 根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'commodity_id':
                        $(ed.target).combobox('textbox').select();
                        $(ed.target).combobox('showPanel');
                        break;
                    case 'service_user_id':
                    case 'is_discount':
                    case 'is_cash':
                        $(ed.target).combogrid('textbox').select();
                        $(ed.target).combogrid('showPanel');
                        break;
                    case 'count':
                    case 'remark':
                        $(ed.target).textbox('textbox').select();
                        break;
                }

            },
        }).datagrid('enableCellEditing');

        mix.hasInitTable = true;
    };

    mix.add = function() {
        //接受当前编辑内容，并结束编辑
        if ($('#mix_table').datagrid('cell')) {
            $('#mix_table').datagrid('endEdit', $('#mix_table').datagrid('cell').index);
        };

        $('#mix_table').datagrid('appendRow', {
            service_user_id: $('#mix_table').datagrid('getData').total > 1 ? $('#mix_table').datagrid('getData').rows[$('#mix_table').datagrid('getData').total - 1].service_user_id : 2,
            commodity_id: 1,
            price: 0,
            count: 1,
            is_discount: '1',
            is_cash: '0',
            remark: ''
        });
    };
    mix.delete = function() {
        //接受当前编辑内容，并结束编辑
        if ($('#mix_table').datagrid('cell')) {
            $('#mix_table').datagrid('endEdit', $('#mix_table').datagrid('cell').index);
        };
        let deleteRow = Object.assign([], $('#mix_table').datagrid('getChecked'));

        deleteRow.forEach(function(row) {
            $('#mix_table').datagrid('deleteRow', $('#mix_table').datagrid('getRowIndex', row));
        });
    };
    mix.save = function() {
        //console.log($('#member_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#mix_table').datagrid('cell')) {
            $('#mix_table').datagrid('endEdit', $('#mix_table').datagrid('cell').index);
        };


        if ($('#mix_table').datagrid('getData').total === 0) {
            $.messager.alert('提示', '没有结算数据', 'info');
            return;
        }

        let cash = $('#mix_table').datagrid('getData').rows.filter(function(item) {
            return item.is_cash == 1;
        });
        let message = '现金: ';
        let cashPrice = cash.reduce(function(accumulator, currentRow) {
            return accumulator + currentRow.price * 100;
        }, 0) / 100;
        message = message + cashPrice + '元</br>';
        let noCash = $('#mix_table').datagrid('getData').rows.filter(function(item) {
            return item.is_cash != 1;
        });
        let noCashPrice = noCash.reduce(function(accumulator, currentRow) {
            return accumulator + currentRow.price * 100;
        }, 0) / 100;
        message = message + '非现金:' + noCashPrice + '元</br>'

        let allprice = $('#mix_table').datagrid('getData').rows.reduce(function(accumulator, currentRow) {
            return accumulator + currentRow.price * 100;
        }, 0) / 100;
        message = message + '总计' + allprice + '元</br>';


        let zero = [];
        zero = $('#mix_table').datagrid('getData').rows.filter(function(row) {
            return row.price * 100 === 0;
        });
        if (zero.length > 0) {
            message = message + '提醒:有' + zero.length + '个商品价格为0.00元';

        };

        $.messager.confirm('确认结算', message, function(save) {
            if (save) {
                $('#mix_table').datagrid('loading');
                $.post('mix/pay', {
                    value: JSON.stringify($('#mix_table').datagrid('getData').rows)
                }, function(data) {
                    //console.log(data);
                    if (data.err) {
                        $.messager.alert('错误', data.message, 'error');
                        $('#mix_table').datagrid('loaded');
                    } else {
                        $.messager.alert('信息', data.message, 'info');
                        $('#mix_table').datagrid('loaded');
                        $('#p').panel('close');
                    }

                }, 'json');
            } else {
                $('#mix_table').datagrid('loaded');
            }
        });




    };
    mix.close = function() {
        $('#p').panel('close');
    };
</script>