<!--用户管理页面 -->
<table id="memberConsumptionCount_table">
</table>
<div id="memberConsumptionCount_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:60%">
                <!--<input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:memberConsumptionCount.tbSearchName,menu:'#memberConsumptionCount_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="memberConsumptionCount_table_toolbar_serchbox_mm" style="width:130px">
                    <div data-options="name:'member_name'">会员</div>
                    <div data-options="name:'commodity_name'">商品</div>
                    <div data-options="name:'write_user_name'">记录员工</div>
                    <div data-options="name:'service_user_name'">服务员工</div>
                    <div data-options="name:'is_discount'">是否打折（1或0）</div>
                    <div data-options="name:'is_cash'">是否现金（1或0）</div>
                    <div data-options="name:'is_close'">是否结算（1或0）</div>
                    <div data-options="name:'remark'">备注</div>
                </div>-->
                开始时间: <input id="beginDate" class="easyui-datebox" style="width:120px"> 结束时间: <input id="endDate" class="easyui-datebox" style="width:120px">

                <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="memberConsumptionCount.tbSearchDate()">查询</a>


            </td>
            <td>
                <div>
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="memberConsumptionCount.import()">导入(<ins>W</ins>)</a>-->
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="memberConsumptionCount.export()">导出(<ins>Q</ins>)</a>-->
                    <!--<a href="/excel/user" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <!--<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="memberConsumptionCount.add()">增加(<ins>A</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="memberConsumptionCount.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="memberConsumptionCount.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="memberConsumptionCount.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    memberConsumptionCount = {};
    memberConsumptionCount.types = [];
    //表格字段设置*************************************************************************
    memberConsumptionCount.setFields = function() {
        let fields = [];
        fields[0] = [];
        fields[0].push({
            field: 'ck',
            checkbox: true
        });
        fields[0].push({
            field: 'id',
            title: '消费ID',
            width: 80,
            sortable: true,
        });
        fields[0].push({
            field: 'commodity_name',
            title: '商品名',
            width: 100,
            sortable: true,
        });
        fields[0].push({
            field: 'create_time',
            title: '消费时间',
            width: 180,
            sortable: true,
            formatter: function(value, row, index) {
                if (!Number.isNaN(Date.parse(value))) {
                    return new Date(Date.parse(value)).toLocaleString();
                } else {
                    return '';
                }
            },
        });
        fields[0].push({
            field: 'price',
            title: '消费金额',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return '￥' + Number.parseFloat(value).toFixed(2);
            },
        });
        fields[0].push({
            field: 'count',
            title: '消费数量',
            width: 100,
            sortable: true,
        });
        fields[0].push({
            field: 'commodity_price',
            title: '商品售价',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return '￥' + Number.parseFloat(value).toFixed(2);
            },
        });
        fields[0].push({
            field: 'is_discount',
            title: '是否打折',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return value == 1 ? '是' : '否';
            },
        });
        fields[0].push({
            field: 'is_cash',
            title: '是否现金',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return value == 1 ? '是' : '否';
            },
        });

        fields[0].push({
            field: 'member_name',
            title: '会员名',
            width: 100,
            sortable: true,
        });
        fields[0].push({
            field: 'write_user_name',
            title: '记录员工',
            width: 100,
            sortable: true,
        });
        fields[0].push({
            field: 'service_user_name',
            title: '服务员工',
            width: 100,
            sortable: true,
        });
        fields[0].push({
            field: 'is_close',
            title: '是否已结算',
            width: 100,
            sortable: true,
            formatter: function(value, row, index) {
                return value == 1 ? '是' : '否';
            },
        });
        fields[0].push({
            field: 'remark',
            title: '备注',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });

        return fields;
    }



    //绑定菜单按钮的键盘设置*************************************************************************
    memberConsumptionCount.keydown = function(e) {
        if (e.key === 'Enter') {
            memberConsumptionCount.tbSearchDate();
        }

        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            // case "w":
            //     memberConsumptionCount.import();
            //     break;
            case "q":
                memberConsumptionCount.export();
                break;
            case "s":
                memberConsumptionCount.save();
                break;
                // case "a":
                //     memberConsumptionCount.add();
                //     break;
            case "d":
                memberConsumptionCount.delete();
                break;
            case "r":
                memberConsumptionCount.redo();
                break;

        }
    };

    //button设置*************************************************************************
    memberConsumptionCount.tbSearchName = function(value, name) {
        //$('#memberConsumptionCount_table').datagrid('unselectAll');
        //s$('#memberConsumptionCount_table').datagrid('uncheckAll');
        $('#memberConsumptionCount_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    memberConsumptionCount.tbSearchDate = function() {
        //$('#memberConsumptionCount_table').datagrid('unselectAll');
        //s$('#memberConsumptionCount_table').datagrid('uncheckAll');
        var beginDate = $("#beginDate").datebox('getValue');
        var endDate = $("#endDate").datebox('getValue');
        if (!beginDate || !endDate) {
            $.messager.alert('提示', '时间设置错误', 'info', function() {
                $("#beginDate").datebox('clear');
                $("#endDate").datebox('clear');
            });
        };


        $('#memberConsumptionCount_table').datagrid('load', {
            beginDate: beginDate,
            endDate: endDate
        });


    };

    memberConsumptionCount.save = function() {
        //console.log($('#memberConsumptionCount_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#memberConsumptionCount_table').datagrid('cell')) {
            $('#memberConsumptionCount_table').datagrid('endEdit', $('#memberConsumptionCount_table').datagrid('cell').index);
        };


        $('#memberConsumptionCount_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#memberConsumptionCount_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#memberConsumptionCount_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#memberConsumptionCount_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#memberConsumptionCount_table').datagrid('loaded');
                $('#memberConsumptionCount_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/memberConsumptionCount/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#memberConsumptionCount_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#memberConsumptionCount_table').datagrid('reload');
                $('#memberConsumptionCount_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#memberConsumptionCount_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    // memberConsumptionCount.add = function() {
    //     $('#memberConsumptionCount_table').datagrid('appendRow', {
    //         id: 'N ' + Math.round(Math.random() * 1000),
    //         commodity_id: 1,
    //         commodity_name: '足底',
    //     });
    // };
    memberConsumptionCount.delete = function() {

        let allChecked = $('#memberConsumptionCount_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#memberConsumptionCount_table').datagrid('deleteRow', $('#memberConsumptionCount_table').datagrid('getRowIndex', id));
        });

    };
    memberConsumptionCount.redo = function() {
        $('#memberConsumptionCount_table').datagrid('rejectChanges');
    };
    memberConsumptionCount.export = function() {
        window.location.href = "memberConsumptionCount/exportExcel";
    };

    memberConsumptionCount.init = function() {

        $('#memberConsumptionCount_table').datagrid({
            idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            url: '/memberConsumptionCount/multiCount',
            method: 'post',
            toolbar: '#memberConsumptionCount_table_toolbar',
            striped: true,
            //pagination: true,
            rownumbers: true,
            // pageNumber: 1,
            // pageSize: '30',
            // pageList: [30, 50, 100],
            showFooter: true,
            remoteSort: false,
            multiSort: true,
            columns: memberConsumptionCount.setFields(),
            view: groupview,
            groupField: 'commodity_id',
            groupFormatter: function(value, rows) {
                if (!Array.isArray(rows) && rows.length === 0) {
                    return;
                };

                var commodity_name = rows[0].commodity_name + '(￥' + Number.parseFloat(rows[0].commodity_price).toFixed(2) + ')';
                var commodity_count = 0;
                var commodity_allPrices = 0;

                rows.forEach(function(item) {
                    commodity_count += item.count;
                    commodity_allPrices += item.price;
                });
                return commodity_name + ' : 金额(￥' + Number.parseFloat(commodity_allPrices).toFixed(2) + ')----次数(' + commodity_count + ')';
            },
            //根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'remark':
                        $(ed.target).textbox('textbox').select();
                        break;
                }
            },
            onBeginEdit: function(index, row) {
                console.log([1, 2, 6].indexOf(row.id));
                if ([1, 2, 6].indexOf(row.id) !== -1) {
                    console.log(index);
                    $('#memberConsumptionCount_table').datagrid('endEdit', index);
                }
            }
        }).datagrid('enableCellEditing');

        $('#memberConsumptionCount_table').datagrid('getPanel').keydown(memberConsumptionCount.keydown);
    }


    //表格初始化*************************************************************************
    memberConsumptionCount.init();
    // $.post('memberConsumptionCount/initData', {}, function(data) {
    //     if (!data.err) {
    //         memberConsumptionCount.types = data.result;
    //         memberConsumptionCount.init();
    //     } else {
    //         $.messager.alert('失败', data.message, 'warning', function() {
    //             $('#memberConsumptionCount_table').datagrid('getPanel').focus(); //重置焦点
    //         });
    //     }
    // })
</script>