<!--用户管理页面 -->
<table id="userRole_table">
</table>
<div id="userRole_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:40%">
                <input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:userRole.tbSearchName,menu:'#userRole_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="userRole_table_toolbar_serchbox_mm" style="width:120px">
                    <div data-options="name:'name'">员工类型</div>
                    <div data-options="name:'base_wage'">底薪</div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="userRole.import()">导入(<ins>W</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="userRole.export()">导出(<ins>Q</ins>)</a>
                    <!--<a href="/excel/user" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="userRole.add()">增加(<ins>A</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="userRole.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="userRole.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="userRole.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    userRole = {};
    userRole.privileges = [];
    userRole.menus = [];
    userRole.tabs = [];
    //表格字段设置*************************************************************************
    userRole.setFields = function() {
        let fields = [];
        fields[0] = [];
        fields[0].push({
            field: 'ck',
            checkbox: true
        });
        fields[0].push({
            field: 'id',
            title: '员工类型ID',
            width: 80,
            sortable: true
        });
        fields[0].push({
            field: 'name',
            title: '员工类型',
            width: 100,
            sortable: true,
            editor: {
                type: 'textbox',
                options: {}
            }
        });
        fields[0].push({
            field: 'base_wage',
            title: '底薪',
            width: 100,
            sortable: false,
            align: 'right',
            halign: 'left',
            formatter: function(value, row, index) {
                return '￥' + Number.parseFloat(value).toFixed(2);
            },
            editor: {
                type: 'numberbox',
                options: {
                    min: 0,
                    precision: 2,
                    prefix: '￥',
                }
            }
        });
        fields[0].push({
            field: 'privileges',
            title: '权限',
            width: 170,
            sortable: false,
            editor: {
                type: 'combogrid',
                options: {
                    panelWidth: 420,
                    //value: [1, 2],
                    editable: false,
                    multiple: true,
                    striped: true,
                    fitColumns: true,
                    idField: 'id',
                    textField: 'id',
                    //url: 'userRole/privileges',
                    //mode: 'local',
                    data: userRole.privileges,
                    columns: [
                        [{
                            field: 'ck',
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '权限id',
                            width: 60
                        }, {
                            field: 'name',
                            title: '权限名称',
                            width: 100
                        }, {
                            field: 'url',
                            title: 'URL地址',
                            width: 140
                        }, {
                            field: 'type',
                            title: '权限类型',
                            width: 100
                        }]
                    ],
                    onChange: function(newValue, oldValue) {
                        if (Array.isArray(oldValue) && oldValue.length !== 0) {
                            let cell = $('#userRole_table').datagrid('cell');
                            let ed = $('#userRole_table').datagrid('getEditor', cell);
                            let px = newValue.sort(function(a, b) {
                                return Number.parseInt(a) - Number.parseInt(b);
                            });
                            ed.target.combogrid('setValues', px);
                        }

                    },
                }
            }
        });
        fields[0].push({
            field: 'menus',
            title: '菜单栏',
            width: 170,
            sortable: false,
            editor: {
                type: 'combogrid',
                options: {
                    panelWidth: 420,
                    //value: [1, 2],
                    editable: false,
                    multiple: true,
                    striped: true,
                    fitColumns: true,
                    idField: 'id',
                    textField: 'id',
                    //url: 'userRole/privileges',
                    data: userRole.privileges,
                    columns: [
                        [{
                            field: 'ck',
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '权限id',
                            width: 60
                        }, {
                            field: 'name',
                            title: '权限名称',
                            width: 100
                        }, {
                            field: 'url',
                            title: 'URL地址',
                            width: 140
                        }, {
                            field: 'type',
                            title: '权限类型',
                            width: 100
                        }]
                    ],
                    onShowPanel: function() {
                        //$(this).combogrid('grid').datagrid('loadData', userRole.privileges);
                        //console.log(this);
                    },
                    onChange: function(newValue, oldValue) {
                        if (Array.isArray(oldValue) && oldValue.length !== 0) {
                            let cell = $('#userRole_table').datagrid('cell');
                            let ed = $('#userRole_table').datagrid('getEditor', cell);
                            let px = newValue.sort(function(a, b) {
                                return Number.parseInt(a) - Number.parseInt(b);
                            });
                            ed.target.combogrid('setValues', px);
                        }

                    },
                }
            }
        });
        fields[0].push({
            field: 'tabs',
            title: '强制显示标签页',
            width: 100,
            sortable: false,
            editor: {
                type: 'combogrid',
                options: {
                    panelWidth: 420,
                    //value: [1, 2],
                    editable: false,
                    multiple: true,
                    striped: true,
                    fitColumns: true,
                    idField: 'id',
                    textField: 'id',
                    //url: 'userRole/privileges', //本地需后期赋值

                    columns: [
                        [{
                            field: 'ck',
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '权限id',
                            width: 60
                        }, {
                            field: 'name',
                            title: '权限名称',
                            width: 100
                        }, {
                            field: 'url',
                            title: 'URL地址',
                            width: 140
                        }, {
                            field: 'type',
                            title: '权限类型',
                            width: 100
                        }]
                    ],
                    onChange: function(newValue, oldValue) {
                        if (Array.isArray(oldValue) && oldValue.length !== 0) {
                            let cell = $('#userRole_table').datagrid('cell');
                            let ed = $('#userRole_table').datagrid('getEditor', cell);
                            let px = newValue.sort(function(a, b) {
                                return Number.parseInt(a) - Number.parseInt(b);
                            });
                            ed.target.combogrid('setValues', px);
                        }

                    },
                }
            }
        });
        return fields;
    }

    //表格初始化*************************************************************************


    //绑定菜单按钮的键盘设置*************************************************************************
    userRole.keydown = function(e) {
        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            case "w":
                userRole.import();
                break;
            case "q":
                userRole.export();
                break;
            case "s":
                userRole.save();
                break;
            case "a":
                userRole.add();
                break;
            case "d":
                userRole.delete();
                break;
            case "r":
                userRole.redo();
                break;

        }
    };




    //button设置*************************************************************************
    userRole.tbSearchName = function(value, name) {
        //$('#userRole_table').datagrid('unselectAll');
        //s$('#userRole_table').datagrid('uncheckAll');
        $('#userRole_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    userRole.save = function() {
        //console.log($('#userRole_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#userRole_table').datagrid('cell')) {
            $('#userRole_table').datagrid('endEdit', $('#userRole_table').datagrid('cell').index);
        };


        $('#userRole_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#userRole_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#userRole_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#userRole_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#userRole_table').datagrid('loaded');
                $('#userRole_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/userRole/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#userRole_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#userRole_table').datagrid('reload');
                $('#userRole_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#userRole_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    userRole.add = function() {
        $('#userRole_table').datagrid('appendRow', {
            id: 'N ' + Math.round(Math.random() * 1000),
            name: '新类型' + Math.round(Math.random() * 1000),
            base_wage: 0,
        });
    };
    userRole.delete = function() {

        let allChecked = $('#userRole_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#userRole_table').datagrid('deleteRow', $('#userRole_table').datagrid('getRowIndex', id));
        });

    };
    userRole.redo = function() {
        $('#userRole_table').datagrid('rejectChanges');
    };
    userRole.export = function() {
        window.location.href = "userRole/exportExcel";
    };
    userRole.import = function() {

        //let mainImport = $('#mainImport');
        //console.log(mainImport);
        //mainImport.panel('destroy');
        $('#mainImport').window({
            title: '员工类型导入',
            width: 800,
            height: 600,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            modal: true,
            href: 'userRole/importExcel',
            onClose: function() {
                $('#userRole_table').datagrid('reload');
                //console.log('window close!');
            }
        });

    };

    userRole.init = function() {
        $('#userRole_table').datagrid({
            idField: 'id',
            //loadMsg: '数据加载中,请稍后',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            url: '/userRole/multi',
            method: 'post',
            toolbar: '#userRole_table_toolbar',
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: 1,
            pageSize: '30',
            pageList: [30, 50, 100],
            sortName: 'id',
            remoteSort: false,
            multiSort: true,
            columns: userRole.setFields(),
            //根据字段类型设置编辑器初始状态
            onCellEdit: function(index, field, value) {
                var ed = $(this).datagrid('getEditor', {
                    index: index,
                    field: field
                });
                switch (field) {
                    case 'privileges':
                    case 'menus':
                    case 'tabs':
                        $(ed.target).combogrid('grid').datagrid('loadData', userRole.privileges);
                        $(ed.target).combogrid('textbox').select();
                        $(ed.target).combogrid('showPanel');
                        break;
                    default:
                        $(ed.target).textbox('textbox').select();
                        break;
                }

            },
            // onBeginEdit: function(index, row) {
            //     console.log([1, 2, 6].indexOf(row.id));
            //     if ([1, 2, 6].indexOf(row.id) !== -1) {
            //         console.log(index);
            //         $('#userRole_table').datagrid('endEdit', index);
            //     }
            // }
        }).datagrid('enableCellEditing');

        $('#userRole_table').datagrid('getPanel').keydown(userRole.keydown);
    };

    //表格初始化*************************************************************************
    $.post('userRole/initData', {}, function(data) {
        if (!data.err) {
            userRole.privileges = data.result;
            userRole.init();
        } else {
            $.messager.alert('失败', data.message, 'warning', function() {
                $('#userRole_table').datagrid('getPanel').focus(); //重置焦点
            });
        }
    });
</script>