<!--用户管理页面 -->
<table id="privilege_table">
</table>
<div id="privilege_table_toolbar">
    <table style="width:100%">
        <tr>
            <td style="width:40%">
                <input class="easyui-searchbox" data-options="prompt:'输入查找值',searcher:privilege.tbSearchName,menu:'#privilege_table_toolbar_serchbox_mm'" style="width:80%">
                <div id="privilege_table_toolbar_serchbox_mm" style="width:120px">
                    <div data-options="name:'name'">权限名</div>
                    <div data-options="name:'url'">url地址</div>
                    <div data-options="name:'type'">类型</div>
                </div>
            </td>
            <td>
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_add" plain="true" onclick="privilege.import()">导入(<ins>W</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" onclick="privilege.export()">导出(<ins>Q</ins>)</a>
                    <!--<a href="/excel/user" class="easyui-linkbutton" iconCls="icon-folder_go" plain="true" >导出(<ins>Q</ins>)</a>-->
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="privilege.add()">增加(<ins>A</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="privilege.delete()">删除(<ins>D</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="privilege.save()">保存(<ins>S</ins>)</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="privilege.redo()">撤销(<ins>R</ins>)</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    privilege = {};
    //表格字段设置*************************************************************************
    privilege.fields = [];
    privilege.fields[0] = [];
    privilege.fields[0].push({
        field: 'ck',
        checkbox: true
    });
    privilege.fields[0].push({
        field: 'id',
        title: '权限ID',
        width: 60,
        sortable: true
    });
    privilege.fields[0].push({
        field: 'name',
        title: '权限名',
        width: 160,
        sortable: true,
        editor: {
            type: 'textbox',
            options: {}
        }
    });
    privilege.fields[0].push({
        field: 'url',
        title: 'url地址',
        width: 160,
        sortable: true,
        editor: {
            type: 'textbox',
            options: {}
        }
    });
    privilege.fields[0].push({
        field: 'type',
        title: '类型',
        width: 80,
        sortable: true,
        editor: {
            type: 'combobox',
            options: {
                panelWidth: 160,
                valueField: 'label',
                textField: 'value',
                data: [{
                    label: 'menu',
                    value: 'menu'
                }, {
                    label: 'url',
                    value: 'url'
                }]
            }
        }
    });

    //表格初始化*************************************************************************
    $('#privilege_table').datagrid({
        idField: 'id',
        //loadMsg: '数据加载中,请稍后',
        fit: true,
        fitColumns: true,
        singleSelect: false,
        url: '/privilege/multi',
        method: 'post',
        toolbar: '#privilege_table_toolbar',
        striped: true,
        pagination: true,
        rownumbers: true,
        pageNumber: 1,
        pageSize: '30',
        pageList: [30, 50, 100],
        sortName: 'id',
        remoteSort: false,
        multiSort: true,
        columns: privilege.fields,
        //根据字段类型设置编辑器初始状态
        onCellEdit: function(index, field, value) {
            var ed = $(this).datagrid('getEditor', {
                index: index,
                field: field
            });
            switch (field) {
                case 'type':
                    $(ed.target).combobox('textbox').select();
                    $(ed.target).combobox('showPanel');
                    break;
                default:
                    $(ed.target).textbox('textbox').select();
                    break;
            }
        },
        // onBeginEdit: function(index, row) {
        //     console.log([1, 2, 6].indexOf(row.id));
        //     if ([1, 2, 6].indexOf(row.id) !== -1) {
        //         console.log(index);
        //         $('#privilege_table').datagrid('endEdit', index);
        //     }
        // }
    }).datagrid('enableCellEditing');

    //绑定菜单按钮的键盘设置*************************************************************************
    privilege.keydown = function(e) {
        //console.log(e);
        if (e.altKey === false) {
            return;
        }
        switch (e.key) {
            case "w":
                privilege.import();
                break;
            case "q":
                privilege.export();
                break;
            case "s":
                privilege.save();
                break;
            case "a":
                privilege.add();
                break;
            case "d":
                privilege.delete();
                break;
            case "r":
                privilege.redo();
                break;

        }
    };
    $('#privilege_table').datagrid('getPanel').keydown(privilege.keydown);


    //button设置*************************************************************************
    privilege.tbSearchName = function(value, name) {
        //$('#privilege_table').datagrid('unselectAll');
        //s$('#privilege_table').datagrid('uncheckAll');
        $('#privilege_table').datagrid('load', {
            name: name,
            value: value
        });


    };

    privilege.save = function() {
        //console.log($('#privilege_table').datagrid('cell'));
        //接受当前编辑内容，并结束编辑
        if ($('#privilege_table').datagrid('cell')) {
            $('#privilege_table').datagrid('endEdit', $('#privilege_table').datagrid('cell').index);
        };


        $('#privilege_table').datagrid('loading');
        let sendObject = {}
        sendObject.insert = $('#privilege_table').datagrid('getChanges', 'inserted');
        sendObject.delete = $('#privilege_table').datagrid('getChanges', 'deleted');
        sendObject.update = $('#privilege_table').datagrid('getChanges', 'updated');
        if (sendObject.insert.length === 0 && sendObject.delete.length === 0 && sendObject.update.length === 0) {
            $.messager.alert('提示', '没有更改', 'info', function() {
                $('#privilege_table').datagrid('loaded');
                $('#privilege_table').datagrid('getPanel').focus(); //重置焦点
            });
            return;
        }
        let sendString = JSON.stringify(sendObject);
        sendObject = {
            value: sendString
        };
        //console.log(JSON.stringify(sendObject));
        $.post('/privilege/multi/save', sendObject)
            .done(function(data) {
                $.messager.alert('提示', data.message, 'info', function() {
                    $('#privilege_table').datagrid('getPanel').focus(); //重置焦点
                });
                $('#privilege_table').datagrid('reload');
                $('#privilege_table').datagrid('loaded');
            })
            .fail(function(err) {
                $.messager.alert('失败', '请检查网络连接', 'warning', function() {
                    $('#privilege_table').datagrid('getPanel').focus(); //重置焦点
                });
            });
    };

    privilege.add = function() {
        $('#privilege_table').datagrid('appendRow', {
            id: 'N ' + Math.round(Math.random() * 1000),
            name: '新权限' + Math.round(Math.random() * 1000),
            type: 'menu',
        });
    };
    privilege.delete = function() {

        let allChecked = $('#privilege_table').datagrid('getChecked'); //动态变化，所以需要先复制再删除
        let allDeleteId = [];
        if (Array.isArray(allChecked) && allChecked.length != 0) {
            allChecked.forEach(function(item) {
                allDeleteId.push(item.id);
            })
        };
        allDeleteId.forEach(function(id) {
            $('#privilege_table').datagrid('deleteRow', $('#privilege_table').datagrid('getRowIndex', id));
        });

    };
    privilege.redo = function() {
        $('#privilege_table').datagrid('rejectChanges');
    };
    privilege.export = function() {
        window.location.href = "privilege/exportExcel";
    };
    privilege.import = function() {

        //let mainImport = $('#mainImport');
        //console.log(mainImport);
        //mainImport.panel('destroy');
        $('#mainImport').window({
            title: '权限信息导入',
            width: 800,
            height: 600,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            modal: true,
            href: 'privilege/importExcel',
            onClose: function() {
                $('#privilege_table').datagrid('reload');
                //console.log('window close!');
            }
        });

    };
</script>